.home {
    background-color:#292a2d;
    display: flex;
    flex-direction: column;
    gap:2vw;
}
.heading {
    color: white;
    font-size: 12vw;
    font-weight: bolder;
    margin-bottom: 4vw;
}
.heading2 {
    color: #a9a9b3;
    font-size: 3vw;
    font-weight: bold;
}

.color{
    background: -webkit-linear-gradient(#B615DE, #D428A7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}